.kitty-1 {
  position: absolute;
  z-index: 4;
  top: 276px;
  left: 129px;
}


#kitty-2 
{
  position: absolute;
  z-index: 2;
  top: 212px;
  left: 369px;
}

#basket img{
  position: absolute;
  z-index: 6;
  top: 300px;
  left: 250px;
}

img[alt="Kitty 5"] {
  position: absolute;
  z-index:6 ;
  top: 291px;
  left: 319px;}

 #ball + img{
  position: absolute;
  z-index: 4;
  top: 260px;
  left: 455px;
}







 


